<div class="p-4" *ngIf="(pokemonPromise | async) as pokemonList">
  <div class="grid grid-cols-5 gap-16">
      <mat-card *ngFor="let pokemon of pokemonList"
                class="p-2 cursor-pointer"
                [routerLink]="'../pokemon-detail'"
                [queryParams]="{'pokemonId': pokemon.id}">
        <mat-card-header>
          <img [alt]="pokemon.name"
               [src]="pokemon.sprites.front_default"
          /></mat-card-header>
        <mat-card-title>{{pokemon.name}}</mat-card-title>
      </mat-card>
  </div>
  <div class="mt-12 flex justify-end">
    <button mat-flat-button [disabled]="currentLimit === 0" (click)="loadPrevious()">
      Previous
    </button>
    <button class="ml-2" mat-flat-button [disabled]="noMoreElements(pokemonList)" (click)="loadNext()">
      Next
    </button>
  </div>
</div>
