<ng-container>
  <mat-grid-list *ngIf="(pokemon | async) as pokemonList" cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let pokemon of pokemonList">
      <h3>{{pokemon.name}}</h3>
      <img class="cursor-pointer"
           [alt]="pokemon.name"
           [src]="pokemon.sprites.front_default"
           [routerLink]="'../pokemon-detail'"
           [queryParams]="{'pokemonId': pokemon.id}"
      />
    </mat-grid-tile>
  </mat-grid-list>
  <div class="absolute bottom-0 right-0">
    <button mat-flat-button [disabled]="currentLimit === 0" (click)="loadPrevious()">
      Previous
    </button>
    <button mat-flat-button (click)="loadNext()">
      Next
    </button>
  </div>
</ng-container>
