<mat-toolbar class="flex h-20">
  <span class="w-48">Pokedex</span>
  <pokedex-navigation-button text="Home" link="/home"></pokedex-navigation-button>
  <pokedex-navigation-button text="Detail" link="/pokemon-detail"></pokedex-navigation-button>
  <ng-container *ngIf="isAdmin">
    <pokedex-navigation-button text="Create Product" link="/create-product"></pokedex-navigation-button>
    <pokedex-navigation-button text="Product List" link="/product-list"></pokedex-navigation-button>
  </ng-container>
  <div class="grow"></div>
  <form>
    <mat-form-field class="w-64 mt-4 justify-self-center">
      <input
        placeholder="Search"
        matInput
        type="text"
        name="search"
        (keydown.enter)="triggerSearch()"
        [(ngModel)]="search"
      />
    </mat-form-field>
  </form>
</mat-toolbar>
