<div class="pl-32 pr-32 pt-16" *ngIf="(pokemonPromise | async) as pokemon">
  <mat-card>
    <mat-card-header class="flex content-center bg-lime-700">
      <mat-card-title class="w-100 text-white">{{pokemon.name | titlecase}} #{{pokemon.id}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <div class="p-4">
    <img [alt]="pokemon.name" [src]="pokemon.sprites.front_default"/>

    <mat-divider></mat-divider>

    <section>
      <h3>Stats</h3>
      <div class="mt-4" *ngFor="let stat of getStatList(pokemon.stats)">
        <span>{{statNames[stat.key]}}: {{stat.value}}</span>
        <mat-progress-bar color="accent" mode="determinate" [value]="stat.value"></mat-progress-bar>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section>
      <h3>Evolutions</h3>
      <div *ngIf="evolutionPokemonAndLevel; else noEvolution">
        <div>{{pokemon.name | titlecase}} evolves into {{evolutionPokemonAndLevel.evolutionPokemon.name | titlecase}} at
          Level {{evolutionPokemonAndLevel.evolutionLevel}}</div>
        <div class="inline-flex items-center">
          <img [alt]="pokemon.name" [src]="pokemon.sprites.front_default"/>
          <mat-icon aria-hidden="false" fontIcon="arrow_right_alt"></mat-icon>
          <img [alt]="evolutionPokemonAndLevel.evolutionPokemon.name"
               [src]="evolutionPokemonAndLevel.evolutionPokemon.sprites.front_default"/>
        </div>
      </div>
      <ng-template #noEvolution>
        <div>{{pokemon.name | titlecase}} is the final evolution</div>
      </ng-template>
    </section>
  </div>
</div>
